.products__wrapper {
    background-color: var(--mainBgColor);
    width: 100%;
    padding: 30px 0;
}

.section-title {
    color: #fff;
    font-size: 35px;
    text-align: center;
    letter-spacing: 2px;
}

.category-img {
    width: 100%;
    aspect-ratio: 1/1;
}

.category-title {
    color: #000;
    letter-spacing: 2px;
    margin: 10px 0;
}

.category__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 20px;
    justify-items: center;
    margin-top: 20px;
}

.category-link {
    color: #fff;
    background-color: var(--mainBgColor);
    padding: 10px;
    border-radius: 25px;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 5px;
    
}

.category-item {
    max-width: 400px;
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
    padding: 10px;
}
@media only screen and (max-width: 720px){
    .category__wrapper {
        grid-template-columns: repeat(2, 1fr);         
    }
    .category-img{
        width: 150px;
    }
    .category-title{
        max-width: min-content;
    }
}