.brands__wrapper{
    padding: 20px 0;
}
.all__brands{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 55px;
    padding: 20px;
}
.brands img{
    width: 200px;
}
@media only screen and (max-width: 690px) {
    .brands:nth-child(2){
        margin-top: -50px;
    }
    .brands:nth-child(3){
        margin-top: -40px;
    }
    .brands img{
        width: 150px;
    }
}