.brands__wrapper{
    padding: 20px 0;
}
.all__brands{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 55px;
    padding: 20px;
}
.brands img{
    width: 200px;
}