.navbar__wrapper{
    background-color: rgb(45, 106, 79);
    padding: 3px 0px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-size: 20px;
    color: #fff;
}
.navbar__menu{
    display: flex;
    gap: 40px;
    color: #fff;
}
.lang-select{
    background-color: transparent;
    color: #fff;
    border: none;
    font-size: 16px;
}
.lang-option{
    color: #000;
}